* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #153351;
  background-color: #FFFFFF;
}

.social {
  float:left;
  display: inline;
  text-align: left;
  font-size: 3em;
}
.hamburger {
  text-align: right;
  float: right;
  font-size: 3em;
}

.main-nav {
  text-align:center;
  display: inline;
  padding: 0.1em;
  font-size: 1.5em;
  float:left;
  width: 100%;
  background-color: #4ABBC7;
}

.nav-menu {
  text-align: center;
  display:inline;
  width:100%;
  padding-right: 13%;
}

ul li {
  text-align: center;
  display: inline;
}

#photo {
  text-align: center;
}

.byline img {
  text-align: center;
}

@media screen and (min-width:640px) {
  .fa-bars {
    display:none;
  }
}
