* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #153351;
  background-color: #FFFFFF;
}

.social {
  margin-left: 0.2em;
  float:left;
  display: inline;
  text-align: left;
  font-size: 3em;
}

.social a {
  color: #153351;
  font-size: 0.9em;
  margin: -0.1em;
}
.hamburger {
  text-align: right;
  float: right;
  font-size: 3em;
}

.fa.fa-bars {
  display: inline-block;
  margin-right: 0.2em;
}

/*.main-nav:hover ul, li {
  display: inline-block;
}*/

.main-nav:hover ul {
  display: block;
}

/*.main-nav:hover li {
  display: inline;
}*/

.main-nav {
  text-align:center;
  display: inline;
  padding: 0.1em;
  font-size: 1.5em;
  float:left;
  width: 100%;
  background-color: #4ABBC7;
}
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  display: inline;
  margin-right: .2em;
  font-size: 1em;
  font-family: 'Arimo', sans-serif;
}

.nav-menu {
  text-align: center;
  display:inline;
  width:33%;
  margin-top: 14px;
  margin-right: 213px;
}

/*.nav-menu ul, li {
  display: inline-block;
}*/

ul li {
  text-align: center;
  display: inline;
}

#photo {
  text-align: center;
}

.byline img {
  text-align: center;
}

@media screen and (min-width: 715px) {
   .fa.fa-bars {
     display: none;
   }
   .main-nav ul, li {
     display: inline-block;
     font-size: 1em;
     padding: .5em 0 .5em 0;
   }
   .main-nav:hover ul, li {
     display: inline-block;
   }
   .nav-menu {
     text-align: center;
     display:inline;
     width:33%;
     margin-top: 14px;
     margin-right: 213px;
   }
}
